@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-regular: "Poppins", sans-serif;
  --font-bold: "Poppins", sans-serif;
  --font-bold-italic: "Poppins", sans-serif;
  --font-extrabold: "Poppins", sans-serif;
  --font-extrabold-italic: "Poppins", sans-serif;
  --font-italic: "Poppins", sans-serif;

  --purple: hsl(259, 100%, 65%);
  --ligth-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --white-of: hsl(0, 0%, 94%);
  --light-gray: hsl(0, 0%, 86%);
  --smoke-gray: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-regular);
    background-color: var(--white-of);
}

main{
    margin: 2rem 1rem 1rem 1rem;
    background-color: var(--white);
    padding: 2rem 1.5rem 3rem 1.5rem;
    border-radius: 25px 25px 100px 25px;
}

.form-container{
    display: grid;
    grid-template-columns: 1fr;
}

.calculator-form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.form-fieldset {
    width: 100%;
    border: none;
}

.form-fieldset label{
    color: var(--smoke-gray);
    font-size: .9rem;
    width: 100%;
    font-weight: 800;
}

.form-fieldset input{
    color: var(--black);
    font-family: var(--font-bold);
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    padding: 1rem .5rem;
    margin-left: 5px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
}

.form-fieldset input:focus {
  outline: none;
  border: 1px solid var(--purple);
  caret-color: var(--purple);
}

.bar-container{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-container hr {
  width: 100%;
  top: 0;
  border: none;
  height: 2px;
  background-color: var(--light-gray);
  transform: translateY(35px);
  z-index: 1;
}

.bar-container button {
  border:none;
  background-color: transparent;
  z-index: 3;
  border-radius: 50px;

}

.bar-container button img:hover {
background-color: var(--black);
}
.bar-container button img {
  width: 70px;
  background-color: var(--purple);
  border-radius: 50px;
  padding: 1rem;
  z-index: 3;
}

.flex-date{
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 3rem;
  font-family: var(--font-bold-italic);
  font-weight: 900;
  font-style: italic;
}

.flex-date p {

}

.flex-date span{
  color: var(--purple);
}
